{% extends 'base.html' %}

{% block header %}
    <h3>Tests</h3>
{% endblock %}

{% block content %}

<table class="table table-bordered">
          <tr>
            <th>Img</th>
            <th>Title</th>
            <th>Description</th>
            <th>Level</th>
            <th>Start</th>
          </tr>
    {% for test in tests %}
        <tr>
            <td> <img src="{{ test.image.url }}" width="50" height="50"></td>
            <td>{{ test.title }}</td>
            <td>{{ test.description }}</td>
            <td>{{ test.level }}</td>
            <td><a href="#">LINK</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}