{% extends 'base.html' %}

{% block header %}
    <h3>Leaderbord</h3>
{% endblock %}

{% block content %}

<table class="table table-bordered">
          <tr>
            <th>#</th>
            <th>IMG</th>
            <th>Full name</th>
            <th>Rating</th>
          </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td> <img src="{{ user.image.url }}" width="50" height="50"></td>
            <td>{{ user.get_full_name }}</td>
            <td>{{ user.rating}}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}